h1{
    color:rgb(158, 150, 150);
    background-color: slategrey;
    text-align:center ;
    text-decoration:rgb(172, 34, 16) underline;
    text-transform: uppercase;
    text-shadow:rgb(181, 221, 120) 2px 2px 5px;
    font-style: italic;
    font-size: 50px;
    text-shadow: 50%;
}
body{
    background-color: lightcyan;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    height: 100vh;
}
.prifile-card{
             padding: 30px;
             border-radius: 12px;
             background: #fff;
             box-shadow: 0 0 12px rgba(0,0,0,0,2);
             text-align: center;
             width: 350px;
 } 
           img{
               width: 150px;
               height: 150px;
              object-fit: cover;
              border-radius: 10px;
              border: 3px solid darkblue;
              margin-bottom:15px;

                }
.prifile-card h1{
                color:darkblue;
                margin-bottom: 20px;
                } 
.prifile-card p {
               font-size: 16px;
               margin: 6px 0;
}
.prifile-card span {
    font-weight: bold;
}

.hobbies {
    margin-top: 12px;
}

.hobbies ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.hobbies li {
    margin: 4px 0;
}